.homepage {
  text-align: center;
}

.images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.discount {
  width: 100px;
  font: 800 40px system-ui;
  overflow: hidden;
}

.numbers {
  width: auto;
  display: flex;
  animation: countNumber 2s infinite;
  animation-timing-function: steps(10);
}

.numbers div {
  text-align: center;
  flex: 0 0 100px;
}

@keyframes countNumber {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1000px;
  }
}
